doctype html
html(lang="en")
  head
    title= TimeLogger
    script(type='text/javascript' src="js/lib/gstatic-loader.js")
    script(type='text/javascript' src="js/google-chart.js")
    script(type='text/javascript' src="js/main.js")
  body
    h1 TimeLogger
    #table_div
